<nav
  class="navbar navbar-light d-flex justify-content-center"
  style="background-color: darkgoldenrod"
>
  <h1 class="navbar-brand text-white">Burgers</h1>
</nav>

<div class="container">
  <div class="row">
    <div class="col card bg-light pr-2" style="width: 18rem">
      <h2 class="d-flex justify-content-center text-secondary">
        Burger to be devoured
      </h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block devoured=false}}
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col card bg-light pr-2" style="width: 18rem">
      <h2 class="d-flex justify-content-center text-secondary">
        Devoured Burgers
      </h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block devoured=true}}
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

  <div class="row card">
    <row class="d-flex justify-content-center card-header">
      <h2>Add a Burger</h2>
    </row>
    <row class="d-flex justify-content-center">
      <form id="create-form" class="form-inline card-body">
        <div class="form-group">
          <label for="burger" class="sr-only"></label>
          <input
            type="text"
            class="form-control"
            id="burger"
            name="name"
            placeholder="Burger Name"
          />
        </div>

        <button class="btn btn-primary mb-2" type="submit">Add Burger</button>
      </form>
    </row>
  </div>
</div>
